[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
loguru = "==0.5.3"
Flask = "==1.1.1"

[dev-packages]
pytest = "*"
pylint = "*"
yapf = "*"

[requires]
python_version = "3.7"
